#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/kscan_mock.h>

/ {
    behaviors {
        sml: sticky_mod_layer {
            compatible = "zmk,behavior-sticky-mod-layer";
            #binding-cells = <2>;
            release-after-ms = <250>;
            quick-release;
            ignore-modifiers;
            bindings = <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &sml LCTRL 1  &kp A
                &kp C         &kp D
            >;
        };

        continuation_layer {
            bindings = <
                &sml LSHFT 1  &trans
                &trans        &trans
            >;
        };
    };
};
